*{
    margin: 10;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    height: 100vh;
}
.virsraksts{
    color: black;
    font-size: 50px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.submit{
    display: block;
  width: 60%;
  border: none;
 
  padding: 14px 14px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
    
}
.Epasts{
    display: block;
  width: 60%;
  border: solid;
  padding: 14px 14px;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
    
}
.Parole{
    display: block;
  width: 60%;
  border: solid;
  padding: 14px 14px;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
    
}